@* login1 Template File *@
@(loginForm: Form[LoginData])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Login") {
  <h2>Login</h2>

    <h3>GET login</h3>
  <form method="get" action="validateLoginGet">
    Username: <input type="text" name="username"></input>
    Password: <input type="password" name="password"></input>
    <input type="submit"></input>
  </form>

    <h3>POST login</h3>
  <form method="post" action="@routes.TaskList1.validateLoginPost()">
    @helper.CSRF.formField
    Username: <input type="text" name="username"></input>
    Password: <input type="password" name="password"></input>
    <input type="submit"></input>
  </form>


    <h3>create user</h3>
  <form method="post" action="@routes.TaskList1.createUser()">
    @helper.CSRF.formField
    Username: <input type="text" name="username"></input>
    Password: <input type="password" name="password"></input>
    <input type="submit"></input>
  </form>

    @helper.form(action = routes.TaskList1.createUserForm()) {
        @helper.CSRF.formField
        @helper.inputText(loginForm("Username"))
        @helper.inputText(loginForm("Password"))
        <div class="form-actions">
            <button type="submit">Login</button>
        </div>
    }

}